body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #27293d !important;
}

.recharts-tooltip-wrapper{
  z-index: 100;
}

.__react_component_tooltip.show{
  background-color: white !important;
  opacity: 1 !important;
}

.focus-visible {
  outline: none !important;
}

.ReactTable .rt-table {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.ReactTable {
  border-radius: 10px !important;
}

.ReactTable .rt-thead .rt-th {
  background-color: #404b69;
  color: #ffffff;
}

.rt-resizable-header-content {
  padding: 5px;
  font-weight: bold;
}

.ReactTable.-striped .rt-tr.-odd {
  background: #feecf2 !important;
}

.ReactTable .-pagination .-btn {
  background-color: #404b69 !important;
  color: white !important;
}

.page-item.active .page-link {
  background-color: #404b69 !important;
  border-color: #404b69 !important;
  color: white !important;
  font-weight: bold !important;
}

.page-link:hover {
  color: #404b69 !important;
  font-weight: bold !important;
}

.page-link {
  border-radius: 40px !important;
  font-weight: bold !important;
  color: #404b69 !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

input {
  width: 100%;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404b69;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404b69;
}
